body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  //   background-color: #f0f0f0;

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
  }
  a {
    color: #000;
    text-decoration: none;
    padding: 0.5em 0;

    &:hover,
    &:focus {
      color: #a2a2a2;
      border-bottom: 1px solid #a2a2a2;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    .list-item {
      margin-left: 1em;
      font-size: 1.5rem;
    }
  }

  .header-top {
    .container {
      position: relative;

      .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
          font-size: 2rem;
          padding-left: 1em;
        }

        .header-nav {
        }
      }
    }
  }

  .main_visual {
    .container-main_visual {
      display: flex;
      position: relative;

      .main_visual-title {
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        padding: 0.5em 1em;
      }

      .main_visual-img {
        img {
          width: 70%;
          height: 80%;
          object-fit: cover;
          margin-left: 30%;
        }
      }
      .bg1 {
        background: #e8e7e7;
        height: 680px;
        width: 45%;
        position: absolute;
        top: -29%;
        left: 0;
        z-index: -1;
      }
    }
  }

  .about_us {
    .container-about_us {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .about_us-article {
        width: 50%;
        margin-left: 1.5em;
        padding: 1em;
        line-height: 2.5rem;
        .about_us-title {
          text-align: center;
          font-size: 2rem;
        }

        .about_us-body {
          font-size: 1.5rem;
        }
      }

      .about_us-img {
        width: 50%;
      }
    }
  }

  .what_we_do {
    .container-what_we_do {
      .what_we_do-title {
        position: relative;
        padding-top: 1em;

        &::after {
          content: "";
          background-color: #e8e7e7;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 200px;
          z-index: -1;
        }
      }

      .what_we_do-cards {
        display: flex;
        justify-content: space-between;
        .what_we_do-card {
          max-width: 100%;

          .what_we_do-card-img {
            margin: 1.5em;
          }
          .what_we_do-card-content {
            // background-color: orange;
            margin: 0 1.5em;
            padding: 0 0.5em;
            h3 {
              font-size: 1.5rem;
            }

            p {
              font-size: 1.45rem;
            }
          }
        }
      }
    }
  }

  .news {
    .container-news {
      //   h2 {   }
      .news_contents {
        width: 100%;
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 1em;
        border-collapse: collapse;
        .news_content-row {
          width: 50%;
          border-bottom: 1px solid #c2c2c2;
          text-align: left;
          .news-content-head {
            padding: 0.8em;
            padding-left: 0;
          }
          //   .news-content-data {
          //   }
        }
      }
    }
  }

  .recruit {
    .container-recruit {
      position: relative;
      padding-top: 5em;
      .recruit-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        a {
          padding: 0.5em 1.5em;
          display: block;
          max-width: 100%;
          background-color: rgba(255, 255, 255, 0.68);
          border-bottom: none;
        }
      }
      &::after {
        content: "";
        background: #e8e7e7;
        height: 80%;
        width: 70%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }
      .recruit-img {
        img {
          width: 70%;
          height: 100%;
          max-height: 400px;
          object-fit: cover;
          filter: brightness(60%);
        }
      }
    }
  }

  .footer {
    .container-footer {
      margin-bottom: 0;
      .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.5em;
        .address {
          max-width: 40%;
          margin: 0 auto;
          h3 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
      .copyright {
        padding: 2em;
        background-color: #c2c2c2;
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }
}
